/first_result.png
/mirror_descent_check.ipynb
/test.py
/test2.ipynb
/test_spyder.py
/Unicaen’s phoenix.png
large_array.dat
.ipynb_checkpoints
results_desk
barPhase.png
camPhase.png
camerama.png
shepp spectrum, halfs are 84 x 84.jpg
shepp, halfs are  84 x 84.jpg
